{% extends 'base.html' %}
{% block admin_title %}Admin-Dashboard{% endblock %}
{% block h_margin %}40{% endblock %}
{% block dashboard_active %}active{% endblock %}
{% block page_heading %}DashBoard{% endblock%}
{% block admin_body %}

<!--___________________________________Blocks End Here______________________________-->

{% if msg %}
    <div class="alert alert-success alert-dismissible">
    	<button type="button" class="close" data-dismiss="alert">&times;</button>
    	<strong>{{msg}}</strong>
  	</div>
{% endif %}
{% endblock %}